.textarea {
    border: 2px solid #3F72AF;
    border-radius: 4px;
    background-color: inherit;
    height: 72px;
    position: relative;
}

.textarea textarea {
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-size: 20px;
    padding: 10px 8px;
    color: black;
}

.textarea textarea::placeholder{
    color: #808080;
}

.textarea__title {
    position: absolute;
    color: #3F72AF;
    top: -10px;
    left: 10px;
    background-color: #DBE2EF;
    z-index: 2;
    padding: 0 7px 0 2px;
}

@media screen and (max-width: 650px) {
    .textarea textarea {
        font-size: inherit;
    }
}