.header__nav {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__nav a {
    color: #DBE2EF;
    text-decoration: underline;
}

.header__nav-stick {
    background-color: white;
    width: 2px;
    height: 28px;
}

.header__nav.tasks .header__nav-tasks{
    color: #8FB6FF;
}

.header__nav.categories .header__nav-categories{
    color: #8FB6FF;
}


@media screen and (max-width: 450px) {
    .header__nav{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }
}