.task {
    padding: 16px;
    border-bottom: 2px solid #3F72AF;
}
.task__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 12px;
}

.task__title {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.task__title-taskName {
    font-weight: 500;
    line-height: 20px;
    color: black;
}

.task__title-categoryName {
    color: #3F72AF;
    display: flex;
    align-items: center;
    gap: 4px;
}

.task__title-categoryName::before {
    content: url('../../images/icons/folderIcon.svg');
    width: 24px;
    height: 18px;
}

.task__description {
    line-height: 20px;
}

.task__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}
